header, body, footer{
    background-color: rgb(238, 237, 237);
    border: 0px; 
    padding: 0px;
}

header{
    background-color: rgb(46, 83, 68);
    border: 0px; 
    padding: 20px 20px;
}

h1{
        color:white;
        font-size: 30px;
 }
header a{
        color: white;
        font-size: 20px;
        
        text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

body li{
    display: inline;
    margin-right: 5vw;

}

main a{
    color: rgb(145, 146, 147);
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
}

body ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 110px;

}

body tr{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}

.msp3{
    height: 100vh;
    background-image: url(images/mspeng.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}


.product1{
    display: flex;
    background-color: rgb(255, 255, 255);
    
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 80px;
    border-radius: 20px;
    

}



#div {
    width: 960px;
}
#main {
    width: 960px;
}

.data {
    display: flex;
    border-radius: 5px;
    height: 300px;
    width: 1500px;
    padding: 20px 100x;
    box-shadow: 10px 10px 50px 4px #121212;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px rgb(46, 83, 68);
    border-width: 3px;
    border-color: #000000;
}


.data_title {
    color: #ffffff;
    top: 0px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(168, 168, 168);
    width: 200px;
    text-align: center;
    border: 1px solid #000000;
}


.ymsh img{
    position:absolute;
    justify-content: center;
}


.data h3{
    text-align: center;
    
    font-family: "華康中黑體";
    font-size: 30px;
}
.data h2{
    text-align: center;
    
    font-family: "華康中黑體";
    font-size: 25px;
}
 .data p{
    text-align: center;
   
    font-family: "華康中黑體";
    font-size: 20px;
    color: rgb(74, 74, 74);
 }   

footer{
    background-color: rgb(46, 83, 68);
    color: rgb(231, 221, 221);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}
p{
    color: rgb(255, 255, 255);
    
}
/* 響應式網頁語法 */
@media screen and (max-width: 768px){ 
   .msp3{
       max-width:100%;
       height:300px;
       {
    header h1{
        left:50;
        transform: translateX(-50%);
        font-size:15px;
    }
    .ymsh img{
        width: 50px;
        height: 50px;

    }
    .data_title {
        
        width: 100px;
      
    }
    
    .data{
        width: 400px;
    }
    .data h3{
        
        font-size: 18px;
    }
    .data h2{
        
        font-size: 15px;
    }
     .data p{
        
        font-size: 10px;
       
     }   
    
}
